ALLOWED_HOSTS=127.0.0.1, .localhost
DATABASE_URL=postgres://missas:p4ssw0rd@localhost:5439/missas
NEW_DATABASE_URL=sqlite:///db.sqlite3
DEBUG=True
ENV=local
GOOGLE_MAPS_API_KEY=
OPENAI_API_KEY=
SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
SENTRY_DSN=
STORAGE_STATIC_BACKEND=django.contrib.staticfiles.storage.StaticFilesStorage
