databases:
  - name: missas
    databaseName: missas
    user: missas
    plan: starter
services:
  - type: web
    name: missas
    plan: free
    runtime: python
    buildCommand: "make build"
    startCommand: "make run"
    domains:
      - missas.com.br
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: missas
          property: connectionString
      - key: NEW_DATABASE_URL
        value: sqlite:////var/data/db.sqlite3
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: ALLOWED_HOSTS
        value: missas.com.br,www.missas.com.br,missas.onrender.com
        previewValue: missas.com.br,.onrender.com
      - key: PYTHON_VERSION
        value: 3.13.5
      - key: POETRY_VERSION
        value: 2.1.3
      - key: SENTRY_DSN
        sync: false
      - key: ENV
        value: prod
    disk:
      name: data-disk
      mountPath: /var/data
      sizeGB: 1
