<div id="cards">
    {% for schedule in schedules %}
        <div class="card mb-3 inverse-indicator">
            <div class="card-body">
                <span class="fs-5">{{ schedule.parish.name }}</span>
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                        <span><i class="fa-solid fa-calendar-week"></i> {{ schedule.get_day_display }}</span>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                        <span>
                            <i class="fa-solid fa-clock"></i>
                            {{ schedule.start_time|time:"H:i" }}
                            {% if schedule.end_time %}- {{ schedule.end_time|time:"H:i" }}{% endif %}
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-6 col-lg-8 col-xl-8">
                        <span>
                            <i class="fa-solid fa-exclamation-circle"></i>
                            {% if schedule.source.link %}
                                Fonte: <a href="{{ schedule.source.link }}" target="_blank">{{ schedule.source.description }}</a>
                            {% else %}
                                Fonte: {{ schedule.source.description }}
                            {% endif %}
                        </span>
                    </div>
                    {% if schedule.observation %}
                        <div class="col-12">
                            <span>
                                <i class="fa-solid fa-exclamation-circle"></i>
                                {{ schedule.observation }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="card mb-3 inverse-indicator">
            <div class="card-body">
                <span class="fs-5">Nenhum horário cadastrado.</span>
            </div>
        </div>
    {% endfor %}
</div>
