<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Missas</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content="Plataforma que fornece informações sobre horários de missas e confissões em várias paróquias do Brasil, permitindo o filtro por dia e horários.">
        <meta name="keywords"
              content="missas, confissões, horários, paróquias, Brasil">
        <meta name="author" content="Lucas Rangel Cezimbra">
        {% load static %}
        <script src="{% static 'htmx.min.js' %}" defer></script>
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" async>
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
              rel="stylesheet"
              async>
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
              rel="stylesheet"
              type="text/css"
              async>
        <link href="{% static 'fontawesomefree/css/solid.css' %}"
              rel="stylesheet"
              type="text/css"
              async>
        <meta name="htmx-config" content='{"getCacheBusterParam":true}'>
        <style>
            body {
                background-color: #E1F5FE;
                font-family: 'Open Sans', sans-serif;
            }

            .my-indicator {
                display: none;
            }

            .htmx-request .my-indicator {
                display: block;
            }

            .inverse-indicator {
                display: block;
            }

            .htmx-request .inverse-indicator {
                display: none;
            }

            .form-range::-moz-range-track {
                background-color: #2a3142;
            }

            .verified {
              color: #2ecc71;
            }
        </style>
    </head>
    <body>
        <div class="container mt-3">
            <div class="row mb-3 align-items-center">
                <div class="col-2 col-lg-1">
                    <img src="{% static 'logo.webp' %}" style="max-width: 100%" loading="lazy">
                </div>
                <div class="col-10 col-lg-11">
                    <h1 class="fs-1">Missas.com.br</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>{{ city.state.name }} - {{ city.name }}</h2>
                </div>
            </div>
            <div class="row mb-3">
                <form hx-get="{{ request.path }}"
                      hx-indicator="#cards-indicator"
                      hx-push-url="true"
                      hx-target="#cards"
                      hx-trigger="change">
                    <div class="btn-group flex-wrap" role="group">
                        <input class="btn-check"
                               id="missas"
                               name="tipo"
                               type="radio"
                               value="missas"
                               {% if type == Schedule.Type.MASS %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="missas">Missas</label>
                        <input class="btn-check"
                               id="confissoes"
                               name="tipo"
                               type="radio"
                               value="confissoes"
                               {% if type == Schedule.Type.CONFESSION %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="confissoes">Confissões</label>
                    </div>
                    <div class="vr"></div>
                    <div class="btn-group flex-wrap" role="group">
                        <input class="btn-check"
                               id="domingo"
                               name="dia"
                               type="radio"
                               value="domingo"
                               {% if day == Schedule.Day.SUNDAY %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="domingo">Domingo</label>
                        <input class="btn-check"
                               id="segunda"
                               name="dia"
                               type="radio"
                               value="segunda"
                               {% if day == Schedule.Day.MONDAY %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="segunda">Segunda-feira</label>
                        <input class="btn-check"
                               id="terca"
                               name="dia"
                               type="radio"
                               value="terca"
                               {% if day == Schedule.Day.TUESDAY %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="terca">Terça-feira</label>
                        <input class="btn-check"
                               id="quarta"
                               name="dia"
                               type="radio"
                               value="quarta"
                               {% if day == Schedule.Day.WEDNESDAY %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="quarta">Quarta-feira</label>
                        <input class="btn-check"
                               id="quinta"
                               name="dia"
                               type="radio"
                               value="quinta"
                               {% if day == Schedule.Day.THURSDAY %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="quinta">Quinta-feira</label>
                        <input class="btn-check"
                               id="sexta"
                               name="dia"
                               type="radio"
                               value="sexta"
                               {% if day == Schedule.Day.FRIDAY %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="sexta">Sexta-feira</label>
                        <input class="btn-check"
                               id="sabado"
                               name="dia"
                               type="radio"
                               value="sabado"
                               {% if day == Schedule.Day.SATURDAY %}checked{% endif %}>
                        <label class="btn btn-outline-primary rounded mx-1 my-1" for="sabado">Sábado</label>
                    </div>
                    <div class="row">
                        <div class="btn-group flex-wrap" role="group">
                            <label for="horario" class="form-label">
                                A partir das <span id="horarioValue">{{ hour }}</span> horas
                            </label>
                            <input class="form-range"
                                   id="horario"
                                   min="0"
                                   max="23"
                                   name="horario"
                                   oninput="horarioValue.innerText = this.value"
                                   type="range"
                                   value="{{ hour }}">
                        </div>
                    </div>
                </form>
            </div>
            <div id="cards-indicator">
                {% for _ in '0123456789'|make_list %}
                    <div class="card mb-3 my-indicator placeholder-glow">
                        <div class="card-body">
                            <span class="fs-5 placeholder col-6"></span>
                            <div class="row">
                                <div class="col-6 col-md-2">
                                    <span><i class="fa-solid fa-calendar-week"></i> <span class="placeholder col-6"></span></span>
                                </div>
                                <div class="col-6 col-md-2">
                                    <span><i class="fa-solid fa-clock"></i> <span class="placeholder col-6"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'cards.html' %}
            </div>
        </div>
        <script src="{% static 'bootstrap.min.js' %}" defer></script>
        <script defer
                src='https://static.cloudflareinsights.com/beacon.min.js'
                data-cf-beacon='{"token": "b300d389869f4fac95d6c34ac8ea2d0d"}'></script>
    </body>
</html>
